# SPDX-FileCopyrightText: 2022 Jonas Kaerts
#
# SPDX-License-Identifier: GPL-3.0-only

# required for building the package
build==0.7.0

# Static analysis tools
mypy==0.931
pycodestyle==2.8.0
pydocstyle==6.1.1
